.m-check-in,
.m-check-out,
.m-datepicker {
	position: relative;
}
.m-datepicker {
	clear: both;
	font-size: 14px;
	line-height: 1.4em;
	max-width: 600px;
	z-index: 9999 !important;
}
.m-check-in,
.m-check-out {
	border-radius: 4px;
	border: 1px solid #ededed;
	box-sizing: border-box;
}
.m-check-in .m-date-info-title,
.m-check-out .m-date-info-title {
	position: absolute;
	left: 33px;
	display: block;
	font-weight: 400;
	opacity: 0.5;
	font-size: 13px;
	cursor: pointer;
}
.m-check-in i,
.m-check-out i {
	margin-right: 4px;
}
.m-check-in .fa,
.m-check-out .fa {
	top: -1px;
	position: relative;
}
.m-datepicker input {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	position: absolute;
	opacity: 0;
}
.m-datepicker td span,
.m-datepicker td a {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
}
.m-dates {
	position: relative;
	padding: 10px 15px;
	height: 38px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.m-dates,
.m-end,
.m-start {
	cursor: pointer;
}
/*  */
.m-datepicker .ui-state-default,
.m-datepicker .ui-widget-content .ui-state-default,
.m-datepicker .ui-widget-header .ui-state-default,
.m-datepicker .ui-button,
html .m-datepicker .ui-button.ui-state-disabled:hover,
html .m-datepicker .ui-button.ui-state-disabled:active {
	text-align: center;
}
/* .m-datepicker .ui-state-highlight,
.m-datepicker .ui-widget-content .ui-state-highlight,
.m-datepicker .ui-widget-header .ui-state-highlight {
	background-color: #3089f1;
	border: 1px solid #3089f1;
	background: #3089f1;
	color: #ffffff;
} */
.m-datepicker .ui-state-active,
.m-datepicker .ui-widget-content .ui-state-active,
.m-datepicker .ui-widget-header .ui-state-active,
.m-datepicker a.ui-button:active,
.m-datepicker .ui-button:active,
.m-datepicker .ui-button.ui-state-active:hover {
	background-color: #3089f1;
	border: 1px solid #3089f1;
	background: #3089f1;
	color: #ffffff;
}

/* .m-datepicker .ui-datepicker-days-cell-over a {
	background-color: #3089f1;
	border: 1px solid #3089f1;
	background: #3089f1;
	color: #ffffff;
} */
.m-datepicker .ui-widget-header .ui-icon {
	background: none;
	/* position: relative; */
}
.m-datepicker .ui-widget-header .ui-icon::after {
	text-indent: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.m-datepicker .ui-datepicker-next .ui-icon::after {
	content: '\276F';
}
.m-datepicker .ui-datepicker-prev .ui-icon::after {
	content: '\276E';
}
.m-datepicker .ui-datepicker-prev.ui-state-hover,
.m-datepicker .ui-datepicker-next.ui-state-hover {
	font-weight: 700;
	border: none;
	background: none;
	right: 1px;
	top: 2px;
}
.m-datepicker .ui-widget-content .ui-state-disabled.ui-datepicker-today {
	opacity: 0.5;
}
.m-datepicker
	.ui-widget-content
	.ui-state-disabled.ui-datepicker-today
	.ui-state-default {
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #3089f1;
	background-color: #3089f1 !important;
	color: White !important;
}
.Highlighted a {
	border: 1px solid #3089f1 !important;
	background-color: #3089f1 !important;
	background-image: none !important;
	color: White !important;
	font-weight: bold !important;
	font-size: 16px;
}
